*{
    margin: 0;
    padding: 0;
}
.ali{
align-items: center;
}
.ee{
    font-size: 30px;
color:darkgray;
    padding-left: 20px;
    
}
.ee:hover{
    color: darkgoldenrod;
}
.NAV{
    background-color: azure;
    padding-bottom: 10px;
    
}
ul{
    flex: 1;
    text-align: right;
}
ul li{
    display: inline;
    padding: 5px;
    list-style: none;
    padding-right: 50px;
    
}
ul li a{
     font-size: 20px;
    text-decoration: none;
    color: #000;
    padding: 0px;
    position: relative;
    
}

ul li a:hover{
    border: 2px;
    border-color: red;
background-color: lightgray;
    color: red;
}

.er a{ 
    border: 2px;
    border-color: red;
    background-color: lightgrey;
    color: red;
}










.banner{
    display: flex;
margin-top: 80px;
    
}
.left-column,.right-column{
    flex-basis: 50%;
    
    
}
.right-column img{
    width: 70%;
    height: 100%;
    border-radius: 90px;
}
.search-box{
    
    width: 45%;
    display:flex;
    padding-bottom: 3px;
    border-bottom: 1px solid #ddd;
    margin: 10px 0 30px;
}
.search-box img{
    height: 25px;
    width: 25px;
    cursor: pointer;
}

.search-box input{
    width:100%
    margin-left:15px;
    font-size: : 17px;
    border: 0;
    outline: none;
}
.left-column h1{
    font-size: 30px;
    
}
span{
    color: #f14a60;
}

.kk{
    padding-left: 10px;
}
.left-column h3{
 font-size: 20px;
    
}
.left-column p{
 font-size: 15px;
    color: #999;
    margin: 25px 0;
    
}

.btn button{
    padding: 7px 30px;
    background: transparent;
    margin-right: 15px;
    outline: none;
    border: 1px solid #fb7381;
    border-radius:20px;
    color:#fb7381;
}
.btn .primary-btn{
    background: linear-gradient(#fb7381, #f14a60);
    box-shadow: 0 2px 15px rgba(248, 38, 103 0.26);
    color: #fff;
}

.social{
    padding: 30px;
}
.social img{
    padding: 30px;
    border: 1px solid gray;
    border-radius: 60px;
}
.social img:hover{
    border:2px solid blue;
}